.card-img-top {
  max-width: 250px;
  height: 300px;
  object-fit: fill;
  justify-content: center;
}

.card-title {
  padding: 10px 0px 0px 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Voltaire", sans-serif;
  text-transform: uppercase;
}

.btn {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #E5DFDF;
  background-color: #357376;
  border-color: #357376;
}
.btn:hover {
  color: #E5DFDF;
  background-color: #1D4D4F;
}
.btn::after {
  color: #E5DFDF;
  background-color: #6BA8A9;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active, .btn-primary:active,
.btn-primary.dropdown-toggle {
  background-color: #357376;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  background-color: #1D4D4F;
}

.btn2 {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #1D4D4F;
  background-color: #E5DFDF;
  border-style: solid;
  border-color: #357376;
  border-width: 1px;
  font-weight: 600;
  font-size: 1em;
  padding: 0.1rem 1rem;
  border-radius: 0.25rem;
}
.btn2:hover {
  color: #E5DFDF;
  background-color: #1D4D4F;
}
.btn2::after {
  color: #E5DFDF;
  background-color: #6BA8A9;
}

.btn-secondary {
  background-color: #6BA8A9;
}

/*  Helper Styles */
body {
  font-family: "Roboto", sans-serif;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

/* Card Styles */
.card {
  margin: 10px;
  border-radius: 8px;
  width: 14rem;
}

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #E26D5C;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #E26D5C;
  animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
}

.card-text {
  font-family: "Voltaire", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 1rem;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1F487E;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1D3461;
  color: #fff;
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
.navbar > .container, .navbar > .container-fluid,
.navbar > .container-lg, .navbar > .container-md,
.navbar > .container-sm, .navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  height: 100px;
  justify-content: space-around;
}

.menu {
  background-color: #E5DFDF;
}

.header {
  text-align: center;
}

.logo {
  margin: 0px 20px;
  width: 200px;
}

#navbarSupportedContent {
  align-items: center;
}

.navbar-nav {
  align-items: center;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #1D4D4F;
}

.social-menu {
  width: 15%;
}
.social-menu a {
  width: 2rem;
  color: #1D4D4F;
  font-size: 1.5rem;
}
.social-menu a:hover {
  width: 2rem;
  color: #357376;
}

.navbar-toggler-icon {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 401px) and (max-width: 960px) {
  .collapsed-menu {
    display: flex;
    justify-content: center;
  }
}

.title-nav {
  font-family: "Voltaire", sans-serif;
  font-weight: 500;
  color: #1D4D4F;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}
.title-nav:hover {
  font-family: "Voltaire", sans-serif;
  font-weight: 500;
  color: #1D4D4F;
  text-align: center;
  text-transform: uppercase;
}
.title-nav:active {
  font-family: "Voltaire", sans-serif;
  font-weight: 500;
  color: #E5DFDF;
  text-align: center;
  text-transform: uppercase;
}

.title {
  /*display: none;*/
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 600;
  color: #1D4D4F;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
}

.title-low {
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 100;
  color: #1D4D4F;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

.subtitle {
  font-family: "Voltaire", sans-serif;
  font-weight: 500;
  color: #357376;
  text-align: left;
  text-transform: uppercase;
  font-size: 2em;
  margin: 20px 0px 10px 20px;
}

#catalogo-title {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 600;
  color: #1D4D4F;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 5px 0px;
}

.title-subsection {
  font-family: "Voltaire", sans-serif;
  font-weight: 400;
  color: #1D4D4F;
  text-align: left;
  text-transform: uppercase;
  font-size: 3em;
  margin: 20px 0px 10px 20px;
}

.text-items {
  font-family: "Voltaire", sans-serif;
  font-weight: 400;
  color: #357376;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5em;
}

.login-container {
  margin: 0px 40px 0px 10px;
}

.register-container {
  margin: 30px 0px;
}

.form-control {
  border: 2px;
}
.form-control:active {
  border-color: black;
  color: black;
}
.form-control:focus {
  border-color: black;
  color: black;
}

footer {
  background-color: #E5DFDF;
  text-align: center;
  margin-bottom: 0;
  height: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

img.logo-footer {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  width: 250px;
}

.logo-footer-container {
  text-align: center;
  align-content: center;
}

.text-footer {
  margin: 10px 0px 10px 0px;
  padding: 20px 0px 20px 0px;
  font-family: "Voltaire", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #1D4D4F;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-right: 1rem;
}

.product-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 20px 0px 10px 20px;
}

.body {
  width: 100%;
  min-height: calc(800vh);
}

.main {
  display: block;
  float: left;
  width: 75%;
}

.sidebar {
  display: block;
  float: right;
  width: 25%;
}

.form-check-input {
  background-color: #1D4D4F;
}

/*# sourceMappingURL=style.css.map */
