@import 'base/colors';
@import 'base/fonts';
@import 'base/querys';
@import 'base/variables';
@import 'components/cards';
@import 'components/header';
@import 'components/titles';
@import 'components/login';
@import 'components/footer';
@import 'functions/extends';
@import 'functions/mixins';

.text {
    font-family: $font-base;
    font-size: 1em;
    margin: 20px 0px 10px 20px;}

.body {
    width: 100%;
    min-height: calc(800vh);
}

.main {
    display: block;
    float: left;
    width: 75%;
}

.sidebar {
    display: block;
    float: right;
    width: 25%;
}

.form-check-input {
    background-color: $color-1;
}