@import 'base/colors';
@import 'base/fonts';
@import 'base/querys';
@import 'base/variables';
@import 'components/cards';
@import 'components/header';
@import 'components/titles';
@import 'components/login';
@import 'components/carrito';
@import 'components/footer';
@import 'functions/extends';
@import 'functions/mixins';

.text {
    font-family: $font-base;
    font-size: 1em;
    margin: 20px 0px 10px 20px;}

.body {
    width: 100%;
}

.main {
    display: block;
    float: left;
    @media (min-width: $bp-desktop){
        width: 75%;
    }
    @media (max-width: $bp-tablet-max) {
        width: 100%;
    }
}

.sidebar {
    display: block;
    float: right;
    width: 25%;
    @media (max-width:$bp-tablet-max){
        display: none;
    }
}

.form-check-input {
    background-color: $color-1;
}

.libreria-body-container {    
    margin-bottom: 30px;
}

.libreria-text {
    font-family: $font-base;
    font-size: 1em;
    margin: 20px 20px 10px 10px;
    text-align: justify;
}

.libreria-img {
    width: 100%;
    margin: 20px 20px 10px 20px;
}

.mapa {
    width: 100%;
    height: 90%;
    margin: 20px 20px 10px 20px;
}

#catalogo-button {
    @media (max-width: $bp-mobile) {
        display: none;
    }
}

.field-border {
    border-width: 0.1px;
    border-style: solid;
    border-radius: 4px;
    background: transparent;
    border-color: lightgray;
}
