%flexbox-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

%flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}