.product-line {
    @extend %flexbox-around
}

.card-img-top {
    max-width:250px;
    height: 350px;
    object-fit: cover;
}

.card-title {
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    font-family: $font-subtitle;
    text-transform: $text-transform-base;
}

.card-text {
    font-family: $font-base;
}

.btn {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-base;
    text-transform: uppercase;
    background-color: $color-2;
    border-color: $color-2;
    &:hover{
        background-color: $color-1;
    }
    &::after{
        background-color: $color-3;
    }
}

.btn-check:active + .btn-primary, 
.btn-check:checked + .btn-primary, 
.btn-primary.active, .btn-primary:active, 
.btn-primary.dropdown-toggle {
    border-color: $color-2;

}