footer {
    background-color: $color-4;
    text-align: center;
    bottom: 0;
    height: 150px;
    display: flex;
    justify-content: space-between;
    
}

img.logo-footer {
    margin: 0px 20px;
    padding: 20px 0;
    width: 250px;

}

.logo-footer-container {
    text-align: center;
    align-content: center;
}

.text-footer {
    margin: 0px 20px;
    margin-bottom: 0;
    padding: 20px 0;
    font-family: $font-subtitle;
    font-weight: 500;
    font-size: 1.5em;
    color: $color-1;
    text-align: center;
    padding-right: 1rem;
}