footer {
    background-color: $color-4;
    text-align: center;
    margin-bottom: 0;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    
}

img.logo-footer {
    margin: 10px 0px 10px 0px;
    width: 150px;

}

.logo-footer-container {
    text-align: center;
    align-content: center;
}

.text-footer {
    margin: 10px 0px 10px 0px;
    font-family: $font-subtitle;
    font-weight: 500;
    font-size: 1.2em;
    color: $color-1;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-right: 1rem;
}