@import '../functions/mixins';


.navbar {
    height: 100px;
}

.menu {
    background-color: $color-4;
}

.header {
    text-align: center;
}


.logo {
    margin: 0px 20px;
    width: 250px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dropdown-item.active,
.dropdown-item:active {
 color: #fff;
 background-color: $color-1;
}